<div class="panel panel-default">
  <div class="panel-heading">
    <h2><%= @speech.title %>を読んだ人</h2>
  </div>
  <div class="panel-body" style="padding: 0;">
    <%= render "users/users", users: @users %>
  </div>
</div>