<% set_meta_tags user_likes_index_meta_tags %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h1>
      <%= @speech.title %>を読んだ人
    </h1>
  </div>
  <div class="panel-body">
    <%= render "users/users", users: @users %>
  </div>
</div>