/****************
 * speeches#show
 ****************/

@media (min-width: 768px) {
  .speech-container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 992px) {
  .speech-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

.speech-overview {
  display: flex;

  @at-root {
    #{&}__right {
      text-align: right;
      font-size: 16px;
    }
  }
}

.speech-show {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  color: $speech-black;
  font-family: 'Times New Roman';
  font-size: 20px;
  line-height: 40px;

  @at-root {
    #{&}__title {
      text-align: center;
      font-size: 24px;
    }

    #{&}__name {
      float: right;
    }

    #{&}__content {
      clear: both;
      text-align: justify;
    }
  }
}

.speech-like {
  position: fixed;
  top: 40%;
  left: 12%;
  text-align: center;

  @at-root {
    #{&}__count {
      font-size: 30px;
      color: $red;
    }

    #{&}__button {
      font-size: 60px;
      padding: 0 10px;
    }

    #{&}__icon {
      color: gray;

      &.checked {
        color: $red;
      }
    }
  }
}

.speech-comments {
  width: 100%;
}

.speech-comments-table {
  @at-root {
    #{&}__right {
      float: right;
    }

    #{&}__text {
      padding: 10px;

      p {
        margin: 0;
      }
    }

  }
}

.speech-comments-form {
  @at-root {
    #{&}__text {
      font-size: 16px;
    }
  }
}


/****************
 * speeches#index
 ****************/

.speech-index-table {
  @at-root {
    #{&}__title {
      padding: 10px;
      font-size: 32px;
    }

    #{&}__user {
      padding-right: 20px;
      float: left;
      padding-left: 10px;
    }

    #{&}__created {
      float: left;
    }

    #{&}__right {
      float: right;
      font-size: 20px;
      padding: 10px;
    }

    #{&}__icon {
      &.checked {
        color: $red;
      }
    }
  }
}

/****************
 * speeches#new edit
 ****************/

.speech-form {
  @at-root {
    #{&}__title {
      font-size: 20px;
    }

    #{&}__overview {
      font-size: 16px;

    }

    #{&}__contents {
      font-size: 16px;
    }
  }
}