/****************
 * Speeches
 ****************/

@media (min-width: 768px) {
  .speech-container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 992px) {
  .speech-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

.speech-overview {
  display: flex;

  @at-root {
    #{&}__right {
      text-align: right;
      font-size: 16px;
    }
  }
}

.speech-show {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  color: $speech-black;
  font-family: 'Times New Roman';
  font-size: 20px;
  line-height: 40px;

  @at-root {
    #{&}__title {
      text-align: center;
      font-size: 24px;
    }

    #{&}__name {
      float: right;
    }

    #{&}__content {
      clear: both;
      text-align: justify;
    }
  }
}

.speech-like {
  position: fixed;
  top: 40%;
  left: 12%;
  text-align: center;

  @at-root {
    #{&}__count {
      font-size: 30px;
      color: $red;
    }

    #{&}__button {
      font-size: 60px;
      padding: 0 10px;
    }

    #{&}__icon {
      color: gray;

      &.checked {
        color: $red;
      }
    }
  }
}

.speech-comments {
  width: 100%;
}

.speech-comments-table {
  @at-root {
    #{&}__right {
      float: right;
    }

    #{&}__text {
      padding: 10px;

      p {
        margin: 0;
      }
    }

  }
}

.speech-comments-form {
  @at-root {
    #{&}__text {
      font-size: 16px;
    }
  }
}










.speech-block {
  margin: 20px;
}

.speech-block-main {
  font-size: 32px;
  color: black;
}

.speech-block-sub {
  font-size: 16px;
  float: left;
  padding-right: 30px;
}

.speech-block-right {
  float: right;
  display: inline;
  font-size: 18px;
  text-align: right;
}

