/****************
 * users#show
 ****************/

.user-profile {
  width:  80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;

  @at-root {
    #{&}__left {
      word-wrap: break-word;
    }

    #{&}__right {
      text-align: center;
    }
  }
}

.user-links-point {
  @at-root {
    #{&}__title {
      font-size:  20px;
    }

    #{&}__points {
      font-family: $links-point-font;
      font-size: 40px;
      color: $red;
    }
  }
}

.user-tab {
  width: 33.3333%;

  @at-root {
    #{&}__link {
      text-align: center;
    }
  }
}

/****************
 * users#index
 ****************/

.user-index-table {
  @at-root {
    #{&}__name {
      font-size: 40px;
      padding: 10px;
    }

    #{&}__university {
      float: left;
      padding-left: 10px;
      padding-right: 10px;
    }

    #{&}__right {
      padding: 15px;
      float: right;
      text-align: center;
    }

    #{&}__links-point {
      font-family: $links-point-font;
      font-size: 28px;
      color: $red;
    }
  }
}