/****************
 * users#show
 ****************/

.user-profile {
  width:  90%;
  margin-left: auto;
  margin-right: auto;

  @at-root {
    #{&}__image {
      height: 280px;
      width: 280px;
    }

    #{&}__bio {
      word-wrap: break-word;
    }
  }
}

.user-links-point {
  @at-root {
    #{&}__title {
      font-size:  20px;
    }

    #{&}__points {
      font-family: $links-point-font;
      font-size: 40px;
      color: $red;
      margin-top: -20px;
    }
  }
}

.user-tab {
  width: 33.3333%;

  @at-root {
    #{&}__link {
      text-align: center;
    }
  }
}

/****************
 * users#index
 ****************/

.user-index-table {
  @at-root {
    #{&}__image {
      height: 50px;
      width: 50px;
      margin-right: 10px;
    }

    #{&}__name {
      font-size: 30px;
    }

    #{&}__bio {
      font-size: 14px;
    }

    #{&}__links-point {
      font-family: $links-point-font;
      font-size: 28px;
      color: $red;
    }
  }
}

/****************
 * user-image
 ****************/

.user-image {
  border-radius: 5%;
  object-fit: cover;
  border: 1px solid #ddd;
}