<div class="panel panel-default">
  <div class="panel-heading">
    <h2>
      Speaker一覧
    </h2>
  </div>
  <div class="panel-body">
    <%= render "users", users: @users %>
    <div class="text-center">
      <%= paginate @users %>
    </div>
  </div>
</div>