<h1>ユーザー一覧</h1>
<div class="panel">
  <table class="table table-striped table-hover">
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= link_to(user_path(user)) do %>
            <%= user.name %>
          <% end %>
        </td>
        <td><%= user.id %></td>
      </tr>
    <% end %>
  </table>
</div>