<h1>ユーザー詳細画面</h1>
<h2><%= @user.name %></h2>
<h3><%= @user.email %></h3>
<% if current_user.id == @user.id %>
  <%= link_to "編集", edit_user_path(@user) %>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<% end %>  