<footer class="footer-main text-center ptm">
  <div class="footer-main__container">
    <div class="col-sm-3 pts">
      <%= link_to home_terms_path, target: "_blank" do %>
        利用規約
      <% end %>
    </div>
    <div class="col-sm-3 pts">
      <%= link_to home_privacy_path, target: "_blank" do %>
        プライバシーポリシー
      <% end %>
    </div>
    <div class="col-sm-3 pts">
      <%= link_to home_help_path, target: "_blank" do %>
        SpeechLinksの使い方
      <% end %>
    </div>
    <div class="col-sm-3 pts">
      <a href="https://kouch-sato.github.io/SpeechLinks_top/" target="_blank">
        トップページ
      </a>
    </div>
  </div>
  <div class="text-center pbl">
    <p>
      ©️2018  Kouch Sato
    </p>
  </div>
</footer>