<div class="panel panel-default">
  <div class="panel-heading">
    <h1>
      Speech Linksの使い方
    </h1>
  </div>
  <div class="panel-body">
    <div class="home-contents">
      <section class="mbl">
        <h2>
          1.スピーチを登録しましょう！
        </h2>
        <p>
          <%= link_to new_user_speech_path do %>
            「<i class="fa fa-pencil-square-o"></i> スピーチ登録」
          <% end %>
          から自分のスピーチを登録できます。
        </p>
        <p>
          スピーチを登録すると、他のユーザーから「読んだ！」ボタンを押してもらえたり、コメントをもらえたりします。
        </p>
      </section>

      <section class="mbl">
        <h2>
          2.他の人のスピーチを読んでみましょう！
        </h2>
        <p>
          自分のスピーチを登録したら、他の人のスピーチを読んで見ましょう。
        </p>
        <p>
          メニューバー左側の「<i class="fa fa-book"></i> スピーチ一覧」や「<i class="fa fa-users"></i> Speaker一覧」から読みたいスピーチを探すことができます。
        </p>
        <p>
          <strong>他の人のスピーチを読んだら、「読んだ！」ボタン（<i class="fa fa-check-circle-o" style="color:red;"></i>）を押しましょう！</strong>
        </p>
        <p>
          また、スピーチの下のフォームから、そのスピーチにコメントを残すことができます。
        </p>
      </section>
    </div>
  </div>
</div>