<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Speech Linksの使い方</h2>
  </div>
  <div class="panel-body">
    <div class="help-contents">
      <h2>SpeechLinksへようこそ！</h2>
      <p>この度はSpeechLinksのα版テストにご協力いただき、ありがとうございます！</p>
      <p>このページではSpeechLinksの使い方をご紹介します。</p>
      <p>また、このページはメニューバー右上の<i class="fa fa-question-circle-o"></i>からいつでも確認することができます。</p>
      
      <h2>1.スピーチを登録しましょう！</h2>
      <p>メニューバー右上の「<i class="fa fa-pencil-square-o"></i> スピーチ登録」から自分のスピーチを登録できます。</p>
      <p>スピーチの「紹介文」を簡潔にわかりやすく書くことで、多くの人にスピーチを読んでもらうことができます。</p>
      <p>・現在は披露する機会がない過去の自分のスピーチ</p>
      <p>・現在リライト途中で、多くの人からアドバイスが欲しいスピーチ</p>
      <p>などを登録すると、他のユーザーから「読んだ！」ボタンを押してもらえたり、コメントをもらえたりします。</p>
      <p>※自分のスピーチは外部の人間（アカウントを持ってない人）から見られることはありません。</p>

      <h2>2.他の人のスピーチを読んでみましょう！</h2>
      <p>自分のスピーチを登録したら、他の人のスピーチを読んで見ましょう。</p>
      <p>メニューバー左側の「<i class="fa fa-book"></i> スピーチ一覧」や「<i class="fa fa-users"></i> Speaker一覧」から読みたいスピーチを探すことができます。</p>
      <p><strong>他の人のスピーチを読んだら、「読んだ！」ボタン（<i class="fa fa-check-circle-o" style="color:red;"></i>）を必ず押してください。</strong></p>
      <p>「読んだ！」ボタンを押すことで、自分が今まで読んだスピーチを管理できるだけでなく、そのスピーチを書いたユーザーを応援することができます。</p>
      <p>また、スピーチの下のフォームから、そのスピーチにコメントを残すことができます。</p>

      <h2>是非フィードバックを！</h2>
      <p>テスト開始から1週間ほどを目安にこーちからアンケートを送らせていただきます。</p>
      <p>「ここが使いづらかった」「もっとこんな機能が欲しい」などご意見をお聞かせください！</p>
    </div>
  </div>
</div>