<div class="panel panel-default">
  <div class="panel-heading">
    <h2>
      ようこそ！SpeechLinksへ
    </h2>
  </div>
  <div class="panel-body">
    <table class="home-top-table">
      <tr>
        <td class="home-top-table__td">
          <%= link_to "スピーチを登録する", new_user_speech_path %>
        </td>
        <td class="home-top-table__td">
          <%= link_to "スピーチを読む", user_speeches_path %>
        </td>
      </tr>
      <tr>
        <td class="home-top-table__td">
          <%= link_to "TopicMaker", "https://kouch-sato.github.io/topic.html" %>
        </td>
        <td class="home-top-table__td">
          <%= link_to "TimeCard", "https://kouch-sato.github.io/timecard.html" %>
        </td>
      </tr>
      <tr></tr>
    </table>
  </div>
</div>