<div class="container">
  <h1>新着記事一覧</h1>
  <table class="table table-striped table-hover">
    <% @speeches.each do |speech| %>
      <tr>
        <td>
          <%= link_to(user_speech_path(speech)) do %>
            <%= speech.title %>
          <% end %>
        </td>
        <td><%= speech.created_at %></td>
      </tr>
    <% end %>
  </table>  
</div>
