<div class="panel panel-default">
  <div class="panel-heading">
    <h1>
      新着スピーチ一覧
    </h1>
  </div>
  <div class="panel-body">
    <%= render "speeches", speeches: @speeches %>
    <div class="text-center">
      <%= paginate @speeches %>
    </div>
  </div>
</div>