<h1>スピーチ詳細画面</h1>
<div class="panel">
  <h2><%= @speech.title %></h2>
  <div class="speech-content">
    <%= simple_format(@speech.content) %>
  </div>
  <%= link_to "編集", edit_user_speech_path(@speech) %>
  <%= link_to "削除", user_speech_path(@speech), method: :delete, data: {confirm: '本当にスピーチを削除しますか？'} %>
</div>  