/****************
 * Navbar
 ****************/

.navbar {
  padding: 10px;
  font-size: 16px;
}

.navbar-default .navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: $red;
}

.navbar-notification {
  @at-root {
    #{&}__badge {
      font-size: 0.5rem;
    }

    #{&}__list {
      border-bottom: 1px solid $border-color;
    }

    #{&}__more {
      text-align: center;
      padding: 5px;
    }
  }
}
