body {
  background: #eee;
}

.panel {
  padding: 30px;
}

.speech-content {
  font-size: 16px;
  line-height: 32px;
  width: 700px;
  text-align: justify;
  text-justify: inter-ideograph;
  margin: 0 auto;
}

.speech-block {
  margin: 20px;
}

.speech-block-main {
  font-size: 32px;
  color: black;
}

.speech-block-sub {
  font-size: 16px;
  float: left;
  padding-right: 30px;
}

/*
.navbar-nav li a {
  position: relative;
  display: inline-block;
  transition:  3s;
  font-size: 16px;
  color: #fff;
  margin: auto 0;
  padding-top: 20px;
}

.navbar-nav li a::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: '';
  width: 0;
  height: 1px;
  background-color: #fff;
  transition: .3s;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.navbar-nav li a:hover::after {
  width: 100%;
}
*/

.like-btn { 
  font-size: 30px;
  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 50%;
  position: fixed;
  top: 400px;
  left: 200px;
}