body {
  background: #eee;
}

.panel {
  padding: 30px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.navbar {
  padding: 10px;
  font-size: 16px;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
}

.speech-content {
  font-size: 16px;
  line-height: 32px;
  width: 700px;
  text-align: justify;
  text-justify: inter-ideograph;
  margin: 0 auto;
}

.speech-block {
  margin: 20px;
}

.speech-block-main {
  font-size: 32px;
  color: black;
}

.speech-block-sub {
  font-size: 16px;
  float: left;
  padding-right: 30px;
}

.like-btn { 
  font-size: 30px;
  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 50%;
  position: fixed;
  top: 400px;
  left: 200px;
}