/****************
 * Base
 ****************/
body {
  background: #eee;
  font-size: 16px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

label {
  font-size: 20px;
  padding-top: 16px;
}

