/****************
 * Layout
 ****************/

@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.col {
  display: block;
  float: left;
  margin-left: 2%;

  &:first-child {
    margin-left: 0;
  }
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.span1 { width: 6.5%; }
.span2 { width: 15.0%; }
.span3 { width: 23.5%; }
.span4 { width: 32.0%; }
.span5 { width: 40.5%; }
.span6 { width: 49.0%; }
.span7 { width: 57.5%; }
.span8 { width: 66.0%; }
.span9 { width: 74.5%; }
.span10 { width: 83.0%; }
.span11 { width: 91.5%; }
.span12 { width: 100%; }

.l-horizon {
  display: table;

  @at-root {
    #{&}__item {
      display: table-cell;
    }

    #{&}__middle {
      display: table-cell;
      vertical-align: middle;
    }
  }
}