/****************
 * Layout
 ****************/

.panel-body {
  padding: 0;
}

.table {
  margin-bottom: 0;
}

td {
  border-bottom: 1px solid #ddd;
}

@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}